{% extends 'base.html.twig' %}

{% block title %}PointDeVente{% endblock %}

{% block body %}
    <h1>PointDeVente</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ point_de_vente.id }}</td>
            </tr>
            <tr>
                <th>Partenaire</th>
                <td>{{ point_de_vente.Partenaire }}</td>
            </tr>
            <tr>
                <th>Produits</th>
                <td>{{ point_de_vente.Produits }}</td>
            </tr>
            <tr>
                <th>Quantity_month</th>
                <td>{{ point_de_vente.QuantityMonth }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('point_de_vente_index') }}">back to list</a>

    <a href="{{ path('point_de_vente_edit', {'id': point_de_vente.id}) }}">edit</a>

    {{ include('point_de_vente/_delete_form.html.twig') }}
{% endblock %}
