<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <script src="../js/bootstrap.js"></script>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </head>
{% apply inline_css %}
<body>

    <style>
        .article{
            margin-top : 10%;
            padding-top: 10%; 
        }

        .photo{
            height: 100%;
            width: 75%;
            margin-left: 12%;
            margin-top: 10%;
        }

        .products-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 10px;
        }
        .product_div{
            background-color:beige;
            border:2px solid #ddd;
            border-top:none;
            border-bottom:none;
            margin-bottom:20px;
            margin-right:20px;
        }
    </style>

    <div>
        {% include 'navbar.php' %}
    </div>

    <h1>{{ pluralize((produits|length), 'produit', 'produits') }} dans la catégorie bien-être.</h1>
    
    <div class="container justify-content-center" style="margin-top:150px">
        
        <div class="products-grid">
        {% for produit in produits %}
            {%  set route_name = "produit_" ~ app.request.attributes.get('_route')%}
            {%  set photo = "../images/produit/" ~ produit.photo %}

            <div class="product_div">
                <div class="col-sm" style="height: 50%;"><img src="{{ photo }}" class="photo" alt="{{ produit.slug }}"></div>
                <div class="article container justify-content-center">
                    <h3><a href="{{ path(route_name, {slug: produit.slug} )}}">{{ produit.titre}}</a></h3>
                    <h5><a href="{{ path(route_name, {slug: produit.slug} )}}">{{ produit.prix}}</a></h5>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>


    <div>
        {% include 'footer.php' %}
    </div>
</body>
{% endapply %}
</html>
