<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
		<script src="../js/bootstrap.js"></script>

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	</head>
	{% apply inline_css %}
	<body>
		<script>
			AOS.init();
		</script>
		<style>
			body,html {
				height: 100%;
				margin: 0;
				background-color: white;
			}
			.bg {
				background-image: url("images/bg_produit.svg");
				height: 40%;
				margin-top: 100px;

				/* image centrée en placée parfaitement */
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
			}
			hr {
				border: none;
				color: #19fb06e6;
				overflow: visible;
				text-align: center;
				height: 4px;
			}
			h1 {
				margin: 3%;
				letter-spacing: 3px;
				font-size: 35px;
				color: rgba(210, 148, 0, 0.79);
				text-align: center;
			}
			h2 {
				margin: 3%;
				letter-spacing: 3px;
				font-size: 26px;
				color: rgb(100, 54, 6);
				text-align: center;
			}

			.category_descr{
				font-size:small;
				text-align:left;
				margin-top:40%;
			}

			.logo_category_left{
				height:200px; width:200px;position: absolute;z-index: 1;margin-top: 5%;margin-left: 2%;
			}
			.logo_category_right{
				height: 180px;
				width: 180px;
				position: absolute;
				z-index: 1;
				margin-top: 2%;
				margin-left: 43.5%;
			}

			.alveoles{
				width:800px;position: absolute;z-index: 2;margin-top: 1%;
			}

			.category_div{
				width: 95%;height:300px;margin-top:5%;
				border-bottom:2px solid #19fb0638;
			}

		</style>

		<div class="bg">
			{% include 'navbar.php' %}
		</div>

		<div class="container justify-content-center" style="width: 95%;height:130px;margin-top:5%;">

			<div name ="title">
				<hr>
				<h1>Découvrez nos produits !</h1>
				<hr>
			</div>
		</div>
		

		{# bien-être #}
		<div class="container justify-content-center category_div">
			<div class="row" style="height: inherit;">

				<div class="col-3">
					<p class="category_descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non diam ex. Duis scelerisque arcu eget tortor eleifend, et mollis sapien condimentum.</p>
					<a href="{{ path('bien_etre') }}"><p class="category_descr" style="margin:0;">En savoir plus...</p></a>
				</div>

				
				<div class="col-9">
					<a href="{{ path('bien_etre') }}"><img src="images/logos/logo_bien_etre.svg" class="logo_category_left" alt="bien-etre icon"></a>
					<div  data-aos="fade-left" data-aos-duration="1500">
						<a href="{{ path('bien_etre') }}"><img src="images/logos/alveole_bien_etre.svg" class="alveoles" alt="bien-etre icon"></a>
					</div>	
				</div>
			</div>
		</div>


		{# petit miam #}
		<div class="container justify-content-center category_div">
			<div class="row" style="height: inherit;">

				<div class="col-9">
					<a href="{{ path('petit_miam') }}"><img src="images/logos/logo_petit_miam.svg" class="logo_category_right" alt="petit miam icon"></a>
					<div  data-aos="fade-right" data-aos-duration="1500">
						<a href="{{ path('petit_miam') }}"><img src="images/logos/alveole_petit_miam.svg" class="alveoles" alt="petit miam icon"></a>
					</div>
				</div>

				<div class="col-3">
					<p class="category_descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non diam ex. Duis scelerisque arcu eget tortor eleifend, et mollis sapien condimentum.</p>
					<a href="{{ path('petit_miam') }}"><p class="category_descr" style="margin:0;">En savoir plus...</p></a>
				</div>
			</div>
		</div>

		{# skins #}
		<div class="container justify-content-center category_div">
			<div class="row" style="height: inherit;">

				<div class="col-3">
					<p class="category_descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non diam ex. Duis scelerisque arcu eget tortor eleifend, et mollis sapien condimentum.</p>
					<a href="{{ path('skins') }}"><p class="category_descr" style="margin:0;">En savoir plus...</p></a>
				</div>

				
				<div class="col-9">
					<a href="{{ path('skins') }}"><img src="images/logos/logo_skins.svg" class="logo_category_left" alt="skins icon"></a>
					<div  data-aos="fade-left" data-aos-duration="1500">
						<a href="{{ path('skins') }}"><img src="images/logos/alveole_skins.svg" class="alveoles" alt="skins icon"></a>
					</div>	
				</div>
			</div>
		</div>

		{# gadgets #}
		<div class="container justify-content-center category_div">
			<div class="row" style="height: inherit;">

				<div class="col-9">
					<a href="{{ path('gadget') }}"><img src="images/logos/logo_gadget.svg" class="logo_category_right" alt="gadget icon"></a>
					<div  data-aos="fade-right" data-aos-duration="1500">
						<a href="{{ path('gadget') }}"><img src="images/logos/alveole_gadgets.svg" class="alveoles" alt="gadget icon"></a>
					</div>
				</div>

				<div class="col-3">
					<p class="category_descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non diam ex. Duis scelerisque arcu eget tortor eleifend, et mollis sapien condimentum.</p>
					<a href="{{ path('gadget') }}"><p class="category_descr" style="margin:0;">En savoir plus...</p></a>
				</div>
			</div>
		</div>
		
		{# produits phares #}
		<div class="container justify-content-center category_div">
			<div class="row" style="height: inherit;">

				<div class="col-3">
					<p class="category_descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non diam ex. Duis scelerisque arcu eget tortor eleifend, et mollis sapien condimentum.</p>
					<a href="{{ path('phares') }}"><p class="category_descr" style="margin:0;">En savoir plus...</p></a>
				</div>

				
				<div class="col-9">
					<a href="{{ path('phares') }}"><img src="images/logos/logo_super.svg" class="logo_category_right" alt="produits phares icon"></a>
					<div  data-aos="fade-left" data-aos-duration="1500">
						<a href="{{ path('phares') }}"><img src="images/logos/alveole_phares.svg" class="alveoles" alt="produits phares icon"></a>
					</div>	
				</div>
			</div>
		</div>
		<!-- footer -->
		{% include 'footer.php' %}
	</body>
	{% endapply %}
</html>
